// common project theme colors
$green: var(--green);
$dark_green: var(--dark_green);
$blue: var(--blue);
$dark_blue: var(--dark_blue);
$navy: var(--navy);
$dark_navy: var(--dark_navy);
$danger: var(--danger);
$background_light_grey: var(--background_light_grey);
$background_light_grey_2: var(--background_light_grey_2);
$background_white: var(--background_white);
$grey_0: var(--grey_0);
$grey_1: var(--grey_1);
$grey_2: var(--grey_2);
$grey_3: var(--grey_3);
$text_black: var(--text_black);
$text_white: var(--text_white);

// linear-gradients
$linear_green: var(--linear_green);
$linear_navy: linear-gradient(-150deg, #2B3044 20%, #3E4462 90%);

// drop-shadows
$drop-shadow_shallow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
$drop-shadow_medium: rgba(50, 50, 93, 0.175) 0px 18px 36px -7px, rgba(0, 0, 0, 0.215) 0px 10px 21px -11px;
$drop-shadow_deep: rgba(50, 50, 93, 0.2) 0px 30px 60px -12px, rgba(0, 0, 0, 0.25) 0px 18px 36px -18px;