// Defining css variables that are used project-wide.
:root {
  // color themes
  --green: #27ae60;
  --dark_green: #0C6130;
  --blue: #1479DE;
  --dark_blue: #105EAA;
  --navy: #394159;
  --dark_navy: #292F40;
  --danger: #c62828;
  --background_light_grey: #eeeeee;
  --background_white: #f5f5f5;
  --grey_0: #5a5a5a;
  --grey_1: #888888;
  --grey_2: #9a9a9a;
  --grey_3: #dbdbdb;
  --text_black: #141414;
  --text_white: #f5f5f5;
  --linear_green: linear-gradient(-32.5deg, #26AD31, #27AE60, #26A1AD 90%);

  // font-sizes
  --size-body-xl: 1.5rem;
  --size-body-lg: 1.25rem;
  --size-body-semi-lg: 1.125rem;
  --size-body-md: 1rem;
  --size-body-sm: 0.875rem;
  --size-body-xs: 0.75rem;

  --size-heading-1: 3rem;
  --size-heading-2: 2.5rem;
  --size-heading-3: 2rem;
  --size-heading-4: 1.875rem;
  --size-heading-5: 1.5rem;

  // miscellaneous
  --site-content-max-width: 1024px;
}
