@use "variables" as *;

.l-page {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "l-header"
    "l-main";
  width: 100%;
}

.l-header {
  position: relative;
  grid-area: l-header;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  background: linear-gradient(-32.5deg, #26AD31, #27AE60, #26A1AD 90%);
  
  @include from ($mobile) {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  @include from ($tablet) {
    padding-top: 3.625rem;
    padding-bottom: 3.625rem;
  }
}

.l-main {
  position: relative;
  grid-area: l-main;
  @include width-constraint-common;
}

.content-wrapper-common {
  position: relative;
  @include width-constraint-common;
}


@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}