
@use "variables" as *;
@use "sass:list";

@font-face {
  font-family: 'proxima_nova';
  src: url(/fonts/proxima-nova/ProximaNova-RegularIt-webfont.eot);
  src: url(/fonts/proxima-nova/ProximaNova-RegularIt-webfont.woff2) format("woff2"),
    url(/fonts/proxima-nova/ProximaNova-RegularIt-webfont.woff) format("woff"),
    url(/fonts/proxima-nova/ProximaNova-RegularIt-webfont.ttf) format("truetype"),
    url(/fonts/proxima-nova/ProximaNova-RegularIt-webfont.svg) format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'proxima_nova';
  src: url(/fonts/proxima-nova/ProximaNova-Regular-webfont.eot);
  src: url(/fonts/proxima-nova/ProximaNova-Regular-webfont.woff2) format("woff2"),
    url(/fonts/proxima-nova/ProximaNova-Regular-webfont.woff) format("woff"),
    url(/fonts/proxima-nova/ProximaNova-Regular-webfont.ttf) format("truetype"),
    url(/fonts/proxima-nova/ProximaNova-Regular-webfont.svg) format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova';
  src: url(/fonts/proxima-nova/ProximaNova-Light-webfont.eot);
  src: url(/fonts/proxima-nova/ProximaNova-Light-webfont.woff2) format("woff2"),
    url(/fonts/proxima-nova/ProximaNova-Light-webfont.woff) format("woff"),
    url(/fonts/proxima-nova/ProximaNova-Light-webfont.ttf) format("truetype"),
    url(/fonts/proxima-nova/ProximaNova-Light-webfont.svg) format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova';
  src: url(/fonts/proxima-nova/ProximaNova-Thin-webfont.eot);
  src: url(/fonts/proxima-nova/ProximaNova-Thin-webfont.woff2) format("woff2"),
    url(/fonts/proxima-nova/ProximaNova-Thin-webfont.woff) format("woff"),
    url(/fonts/proxima-nova/ProximaNova-Thin-webfont.ttf) format("truetype"),
    url(/fonts/proxima-nova/ProximaNova-Thin-webfont.svg) format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova';
  src: url(/fonts/proxima-nova/ProximaNova-Bold-webfont.eot);
  src: url(/fonts/proxima-nova/ProximaNova-Bold-webfont.woff2) format("woff2"),
    url(/fonts/proxima-nova/ProximaNova-Bold-webfont.woff) format("woff"),
    url(/fonts/proxima-nova/ProximaNova-Bold-webfont.ttf) format("truetype"),
    url(/fonts/proxima-nova/ProximaNova-Bold-webfont.svg) format("svg");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "proxima_nova";
  font-weight: 500;
  font-style: normal;
  font-size: $font-md;
  line-height: 1.5;
}

// font-weight related
.has-text-bold {
  font-weight: 700;
}

.has-text-light {
  font-weight: 300;
}

.has-text-thin {
  font-weight: 100;
}

.has-text-italic {
  font-style: italic;
}

// text-color related
.has-color-black {
  color: $text_black;
}

.has-color-white {
  color: $text_white;
}

$thin_headings: 3rem 2.5rem;
$thin_headings_line_heights: 1.35 1.325;

@each $font_size in $thin_headings {
  $i: list.index($thin_headings, $font_size);

  .is-thin-title-#{$i} {
    font-weight: 100;
    font-size: $font_size;
    line-height: list.nth($thin_headings_line_heights, $i);
  }
}

a:not(.button),
.link {
  font-weight: 500;
  color: $green;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: $dark_green;
  }
}

@for $n from 2 through 4 {
  .line-clamp-#{$n} {
    display: -webkit-box;
    -webkit-line-clamp: $n;
    line-clamp: $n;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}