---
const { classes = '' } = Astro.props
---

<div class={`c-buttons-container ${classes}`}>
  <button id="share-btn" class="button" type="button">
    <i class="icon-share-alt pre-icon"></i>
    <span class="button-text">Share</span>
  </button>

  <button id="rss-btn" class="button is-secondary" type="button">
    <i class="icon-rss pre-icon"></i>
    <span class="button-text">RSS</span>
  </button>
</div>

<style lang="scss">
@use "@/styles/variables" as *;

.c-buttons-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  margin-top: 2rem;
  padding: 0 1rem;

  .button {
    flex-grow: 1;
  }

  @include from ($mobile) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  @include from ($tablet) {
    justify-content: flex-start;
    padding: 0;

    .button {
      min-width: 11.25rem;
      flex-grow: 0;
    }
  }

  @include from ($desktop) {
    .button {
      min-width: 13.75rem;
    }
  }
}
</style>

<script>
import { SITE_URL } from '@/constants'
import { addToastItem } from '@/store/toast'
import { randomHexString } from '@/helpers'

function copyOrShareSiteUrl () {
  const isTouchDevice = window.matchMedia('(pointer: coarse)').matches

  if (isTouchDevice && navigator.share) {
    navigator.share({
      title: 'okTurtles Podcast',
      url: SITE_URL
    }).catch((error) => console.error('navigator.share failed with:', error))

    return
  }

  navigator.clipboard.writeText(SITE_URL)
  addToastItem({
    id: randomHexString(16),
    content: 'Site URL copied to clipboard!'
  })
}

document.addEventListener("DOMContentLoaded",() => {
  const shareBtn = document.querySelector('#share-btn')
  const rssBtn = document.querySelector('#rss-btn')

  if (shareBtn) {
    shareBtn.addEventListener('click', (e) => {
      copyOrShareSiteUrl()
    })
  }

  if (rssBtn) {
    rssBtn.addEventListener('click', () => {
      window.location.href = window.location.origin + '/rss.xml'
    })
  }
})
</script>
