---
import PageLayout from "@/layouts/PageLayout.astro"
import { getAllEpisodeTags } from '@/helpers'

const pageTitle = 'Tags'
const tagDict = await getAllEpisodeTags(true) as TagDictionary

---

<PageLayout pageTitle={pageTitle} pageType='episode'>
  <ul class="c-tag-list">
    {
      Object.entries(tagDict).map(([letter, tagCounts]) => {
        return (
          <div>
            <p>{letter}</p>
            <ul>
              {Object.entries(tagCounts as any).map(([tag, count]) => {
                return (<li>{tag} ({count})</li>)
              })}
            </ul>
          </div>
        )
      })
    }
  </ul>
</PageLayout>
