---
import BaseHead from "@/components/BaseHead.astro"
import MainHeader from "@/components/headers/MainHeader.astro"
---

<html lang="en">
  <head>
    <BaseHead />
  </head>

  <body class="l-page">
    <MainHeader />

    <main class="l-main">
      <slot />
    </main>
  </body>
</html>
